{% extends 'base/base.html' %}
{% block navbar %}
<ul id="nav-mobile" class="sidenav sidenav-fixed" style="transform: translateX(0px);">
    <li class="logo"><a id="logo-container" href="/" class="brand-logo">
        <object id="front-page-logo" type="image/svg+xml" data="res/materialize.svg">Your browser does not support SVG</object></a></li>
    <li class="version"><a href="#" data-target="version-dropdown" class="dropdown-trigger">
        1.0.0
        <svg class="caret" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg"><path d="M7 10l5 5 5-5z"></path><path d="M0 0h24v24H0z" fill="none"></path></svg></a><ul id="version-dropdown" class="dropdown-content" tabindex="0">
        <li tabindex="0"><a>1.0.0</a></li>
        <li tabindex="0"><a href="#">0.100.2</a></li>
      </ul>
      
    </li>
    <li class="no-padding">
      <ul class="collapsible collapsible-accordion">
        <li class="bold"><a class="collapsible-header waves-effect waves-teal" tabindex="0">Inventario</a>
          <div class="collapsible-body">
            <ul>
              <li><a href="#">Nuevo</a></li>
              <li><a href="#">Listar</a></li>
            </ul>
          </div>
        </li>
        <li class="bold active"><a class="collapsible-header waves-effect waves-teal" tabindex="0">Personal</a>
          <div class="collapsible-body" style="display: block;">
            <ul>
              <li><a href="#">Nuevo</a></li>
              <li><a href="#">Listar</a></li>
            </ul>
          </div>
        </li>
        <li class="bold"><a class="collapsible-header waves-effect waves-teal" tabindex="0">Registros</a>
          <div class="collapsible-body">
            <ul>
              <li><a href="#">Ingresar</a></li>
              <li><a href="#">Listar</a></li>
            </ul>
          </div>
        </li>
        </li>
      </ul>
    </li>
    <li class="bold"><a href="#" class="waves-effect waves-teal"></a></li>
    <li class="bold"><a href="#" class="waves-effect waves-teal"></a></li>
    <li class="bold"><a href="#" class="waves-effect waves-teal">Salir<span data-badge-caption="updated" class="new badge"></span></a></li>
  </ul>
{% endblock %}