{% extends 'base/base.html' %}
{% block navbar %}
<ul id="nav-mobile" class="sidenav sidenav-fixed" style="transform: translateX(0px);">
    <li class="logo"><a id="logo-container" href="/" class="brand-logo">
        <object id="front-page-logo" type="image/svg+xml" data="res/materialize.svg">Gestor Inventario</object></a></li>
    <li class="no-padding">
      <ul class="collapsible collapsible-accordion">
        <li class="bold"><a class="collapsible-header waves-effect waves-teal" tabindex="0">Inventario</a>
          <div class="collapsible-body">
            <ul>
              <li><a href="#">Nuevo</a></li>
              <li><a href="#">Listar</a></li>
            </ul>
          </div>
        </li>
        <li class="bold active"><a class="collapsible-header waves-effect waves-teal" tabindex="0">Personal</a>
          <div class="collapsible-body" style="display: block;">
            <ul>
              <li><a href="#">Nuevo</a></li>
              <li><a href="#">Listar</a></li>
            </ul>
          </div>
        </li>
        <li class="bold"><a class="collapsible-header waves-effect waves-teal" tabindex="0">Registros</a>
          <div class="collapsible-body">
            <ul>
              <li><a href="#">Ingresar</a></li>
              <li><a href="#">Listar</a></li>
            </ul>
          </div>
        </li>
        </li>
      </ul>
    </li>
    <li class="bold"><a href="#" class="waves-effect waves-teal"></a></li>
    <li class="bold"><a href="#" class="waves-effect waves-teal"></a></li>
    <li class="bold"><a href="#" class="waves-effect waves-teal">Salir</a></li>
  </ul>
{% endblock %}